.overlay {
  position: fixed;
  top: 0;
  right: 15px;
  bottom: 0;
  left: 15px;
  max-width: 410px;
  overflow: scroll;
  background: white;
  padding-bottom: 10px;
  z-index: 2;
  /*스크롤바 숨기기*/
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* 스크롤바 숨기기 */
.overlay::-webkit-scrollbar {
  display: none;
}


.pop-up-enter {
  opacity: 0;
  transform: translateY(100%);
}

.pop-up-enter-active {
  transition: all .5s ease;
}

.pop-up-leave-active {
  transition: all .5s ease;
}

.pop-up-enter-from,
.pop-up-leave-to {
  opacity: 0;
  transform: translateY(100%);
}