.profile-flex-container {
  display: flex;
  flex-direction: column;
  text-align: start;
}

#profile.profile-flex-container {
  margin: 15px 0;
}

#profile-wrap {
  display: flex;
  height: 100px;
}

#profile-image-input {
  position: relative;
  width: 100px;
  margin: auto;
}

.profile-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 1.3px solid #183a1d;
  border-radius: 50%;
  padding: 3px
}

#profile-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 2 2 0;
  margin-left: 15px;
}

#profile-nickname {
  font-family: 'GongGothicBold';
  font-size: 1.8em;
  /*font-weight: bold;*/
}

#profile-badges {
  height: 40px;
}


/* 소개글 */
#profile-description {
  font-family: 'GongGothicLight';
  margin: 15px 0 0 15px;
  font-size: 0.9em;

}
/* 내 페이지일 때 소개글이 없는 경우 안내 */
.info-say-hi {
  margin-top: 25px;
  margin-bottom: 10px;
  margin-left: 10px;
  /*margin: 15px 0 10px;*/
  font-family: GongGothicLight;
  font-size: 0.9em;
}

/* 팔로우 팔로잉 */
.profile-follow-wrap {
  height: 30px;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  font-family: GongGothicBold;
  /*font-weight: bold;*/
  font-size: 1em;
}

.profile-follow {
  flex: 1 1 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  color: #292929;
  cursor: pointer;
}

#profile-button {
  flex: 1 1 0;
  align-self: center;
}

#profile-button .button {
  width: 100%;
  float: right;
  text-decoration: none;
  text-align: center;
  align-self: center;
  font-family: GongGothicMedium;
  color: #292929;
  background-color: #6cb9a2;
}

/* 진행 중인 퀘스트 */
#profile-on-going-quests {
  height: 80px;
  display: flex;
  align-items: center;
  border: 1px solid black;
  margin-bottom: 15px
}

/* 게시글 */
#profile-article-wrap {
  width: 100%;
  margin-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
}

.profile-article-image {
  /*border: 1px solid olivedrab;*/
  width: 33.3333%;
  position: relative;
}

.profile-article-image:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.profile-article-image .inner {
  position: absolute; /* Take your picture out of the flow */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; /* Make the picture taking the size of it's parent */
  width: 100%; /* This if for the object-fit */
  height: 100%; /* This if for the object-fit */
  object-fit: cover; /* Equivalent of the background-size: cover; of a background-image */
  object-position: center;
}

.material-icons-outlined.position {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, .8);
}

