
.user-input {
  width: 80%;
  margin-left: 10%;
}

.input-with-button-wrap {
  display: flex;
  flex-direction: column;
}

/*.input-with-button {*/
/*  display: flex;*/
/*  justify-content: space-between;*/
/*  margin-left: 10%;*/
/*  width: 80%;*/
/*}*/

.input-with-button a {
  margin-bottom: 25px;
  align-self: center;
  color: #cd4e3e;
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
  /*text-shadow: 1px 1px 1px #cd4e3e;*/
}

.input-with-button a.disabled {
  color: lightgray;
  text-decoration: none;
  pointer-events: none;
  cursor: default;
}

.input-with-button a.success {
  color: #6cb9a2;
  text-decoration: none;
  pointer-events: none;
  cursor: default;
}

/* 닉네임 */
.nickname-confirm-enter {
  opacity: 0;
  transform: translateY(-10px);
}
.nickname-confirm-enter-active {
  transition: all .4s ease;
}
.nickname-confirm-leave-active {
  transition: all .4s ease;
}
.nickname-confirm-enter-from,
.nickname-confirm-leave-to {
  opacity: 0;
  transform: translateY(10px);
}


/*이메일*/
.email-confirm-enter {
  opacity: 0;
  transform: translateY(-10px);
}
.email-confirm-enter-active {
  transition: all .4s ease;
}
.email-confirm-leave-active {
  transition: all .4s ease;
}
.email-confirm-enter-from,
.email-confirm-leave-to {
  opacity: 0;
  transform: translateY(10px);
}

/* 회원가입 버튼 */
.button {
  width: 80%;
  height: 50px;
  margin-top: 30px;
  background-color: #f1a64b;
  border-radius:25px;
  box-shadow: 0 0 15px -9px rgba(0, 0, 0, 0.55);
  font-size: 1em;
  font-weight: bold;
  color: #292929;
  cursor: pointer;
}
.button:disabled {
  opacity: 0.6;
  cursor: default;
}
