.article-detail {
  position: fixed;
  top: 60px;
  right: 15px;
  bottom: 0;
  left: 15px;
  overflow: scroll;
  background: white;
}

.article-detail .material-icons-round.more {
  position: absolute;
  top: 10px;
  right: 0;
}

.article-detail-profile-image {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #292929;
    padding: 2px;
}